pipeline/Control Flow Copy Pipe SE.json
{
	"name": "Control Flow Copy Pipe SE",
	"properties": {
		"activities": [
			{
				"name": "Copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{pipeline().parameters.sourceBlobContainer}//input.txt"
					},
					{
						"name": "Destination",
						"value": "@{pipeline().parameters.sinkBlobContainer}//@{concat(pipeline().RunId, '.txt')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourceblobdatasetnew",
						"type": "DatasetReference",
						"parameters": {
							"filePathName": {
								"value": "@pipeline().parameters.sourceBlobContainer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sinkblobdatasetnew",
						"type": "DatasetReference",
						"parameters": {
							"sinkFilePath": {
								"value": "@pipeline().parameters.sinkBlobContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SendSuccessEmailActivity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-88.eastus.logic.azure.com:443/workflows/e928c0ddaa774e50923d48278125c89c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=-e3iHEoJMUspDamIBzsHEX_qpKbbajOwtvjtMXrZdlE",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('Copy1').output.dataWritten}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			},
			{
				"name": "SendFailureEmailActivity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-93.eastus.logic.azure.com:443/workflows/cb0e76dbcbba4f26b1caf71d1c7a5b05/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ctnPOdGfWyxajV-XneVmPHjpX30I0QKdCohRrl8lpRM",
					"method": "POST",
					"body": {
						"message": "@{activity('Copy1').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			}
		],
		"parameters": {
			"sourceBlobContainer": {
				"type": "string"
			},
			"sinkBlobContainer": {
				"type": "string"
			},
			"receiver": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-25T21:56:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}